@model List<AutoPartsShop.Core.Models.PartModel>



@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="card custom-card">
            <img src="~/images/@item.ImageFileName" alt="@item.Name" class="card-image">
            <div class="card-body">
                <h3 class="card-title">@item.Name</h3>
                <h4 class="card-manufacturer">@item.Manufacturer</h4>
                <p class="card-part-number">Код на продукта: @item.PartNumber</p>
                <p class="card-text">@item.Description</p>
                <div class="price-and-button">
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="partId" value="@item.Id" />
                        <input type="hidden" name="productId" value="" />
                        <input type="number" name="quantity" value="1" min="1" style="width: 50px;" />
                        <button type="submit" class="btn btn-primary">Купи</button>
                    </form>
                </div>

            </div>
        </div>
        
    }
    
}
else
{
    <p>No results found.</p>
}




