@model List<AutoPartsShop.Core.Models.PartModel>



@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p style="color:red;">@ViewBag.Message</p>
}

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="card custom-card">
            <img src="~/images/@item.ImageFileName" alt="@item.Name" class="card-image">
            <div class="card-body">
                <h3 class="card-title">@item.Name</h3>
                <h4 class="card-manufacturer">@item.Manufacturer</h4>
                <p class="card-part-number">Код на продукта: @item.PartNumber</p>
                <p class="card-text">@item.Description</p>

                <div class="price-and-button">
                    <div class="card-price">@item.Price лв.</div>
                    <a href="#" class="btn btn-primary">
                        <i class="fa-solid fa-cart-plus"></i> Купи
                    </a>
                </div>
            </div>
        </div>
        
    }
    
}
else
{
    <p>No results found.</p>
}

