<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoPartsShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutoPartsShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/part-search.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/search-by-car.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SearchFormByVin.css" asp-append-version="true" />
</head>
<body>
   
    <header class="custom-header">

        <div class="container">
            <div class="header-container d-flex justify-content-between align-items-center">
                <a href="@Url.Action("Index", "Home")">
                <img src="~/images/LOGO_DLG.jpg" alt="AutoPartsShop Logo" style="height: 140px;" />
                </a>
                <div class="search-form-container">
                    <form asp-controller="Parts" asp-action="PartSearch" method="get" class="d-flex">
                        <input type="text" name="PartNumber" placeholder="Търсене по номер на част" class="form-control me-2" />
                        <button type="submit" class="btn btn-primary">ТЪРСЕНЕ</button>
                    </form>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </div>

        <div class="container mt-3">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                @if (User.IsInRole("Manager"))
                {
                    <button class="btn btn-danger dropdown-toggle fw-bold" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" asp-controller="Parts" asp-action="ManageParts">Parts</a></li>
                        <li><a class="dropdown-item" asp-controller="Product" asp-action="Product">Product</a></li>
                        <li><a class="dropdown-item" asp-controller="Cars" asp-action="ManageCars">Car</a></li>
                    </ul>
                }
            }
        </div>

        <div class="container mt-2">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Index", "Home", new { area = "Admin" })"
                       class="btn btn-primary w-auto" style="border-radius: 5px; font-weight: bold;">
                        <i class="bi bi-gear-fill"></i> Admin Area
                    </a>
                }
            }
        </div>
        
    </header>
   
    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-left">
            &copy; @DateTime.Now.Year - AutoPartsShop
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    
    @await RenderSectionAsync("Scripts", required: false)
   
</body>
</html>
