@model AutoPartsShop.Core.Models.ProductModel




<div class="container mt-5" style="max-height: 500px; overflow-y: scroll;">
    <h2>Редактиране на продукт</h2>
    <form method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="mb-3">
            <label for="Name" class="form-label">Име на продукт</label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="ProductNumber" class="form-label">Номер на продукт</label>
            <input type="text" class="form-control" id="ProductNumber" name="ProductNumber" value="@Model.ProductNumber" required />
            <span asp-validation-for="ProductNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Price" class="form-label">Цена</label>
            <input type="number" class="form-control" id="Price" name="Price" value="@Model.Price" required />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Описание</label>
            <textarea class="form-control" id="Description" name="Description">@Model.Description</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="Manufacturer" class="form-label">Производител</label>
            <input type="text" class="form-control" id="Manufacturer" name="Manufacturer" value="@Model.Manufacturer" />
            <span asp-validation-for="Manufacturer" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="StockQuantity" class="form-label">Количество</label>
            <input type="text" class="form-control" id="StockQuantity" name="StockQuantity" value="@Model.StockQuantity" />
            <span asp-validation-for="StockQuantity" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Запази промените</button>
    </form>
</div>
