@model IEnumerable<AutoPartsShop.Core.Models.ProductModel>



<div class="container mt-5">
    <h2>Управление на продукти</h2>
    <div>
        <a href="@Url.Action("AddProduct", "Product")" class="btn btn-success mb-3">Добави нов продукт</a>
    </div>

    @if (Model != null && Model.Any())
    {

        <div style="max-height: 400px; overflow-y: auto; border: 1px solid #ddd; padding: 10px; border-radius: 5px;">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Име на продукт</th>
                    <th scope="col">Номер на продукт</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Производител</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.ProductNumber</td>
                        <td>@product.Price</td>
                        <td>@product.Manufacturer</td>
                        <td>@product.Description</td>
                        <td>@product.StockQuantity</td>
                        <td>
                            <div class="d-flex gap-2">
                                <a href="@Url.Action("EditProduct", "Product", new { id = product.Id })" class="btn btn-warning">Редактирай</a>

                                <form action="@Url.Action("DeleteProduct", "Product", new { id = product.Id })" method="post">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Сигурни ли сте, че искате да изтриете този продукт?');">Изтрий</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>

    }
    else
    {
        <p>Няма налични продукти.</p>
    }
</div>


